li.record span.description {
  display: block;
  font-size: 11px;
  font-style: italic;
  line-height: 11px;
  margin-top: -4px;
  margin-bottom: 14px;
  color: #666;
}

span.spam_tag {
  display: inline-block;
  font-size: 10px;
  padding: 0px 6px;
  border-radius: 6px;
  font-weight: bold;
}
span.spam_tag.spam {
  color: #600;
  background-color: #f44;
  border: 1px solid #600;
}
span.spam_tag.ok {
  color: #060;
  background-color: #4f4;
  border: 1px solid #060;
}

ul#contacts ul {
  margin: 0px;
  padding: 0px;
}
ul#contacts ul li {
  margin: 0px;
  padding: 0px;
  line-height: 18px;
}
ul#contacts li span.spam_tag {
  line-height: 18px;
}