<div class="container_12">
  <div id="content" class="grid_8 push_4">
    <%# Another hack: if we're on the news page place the twitter feed js widget %>
    <%- if @page.title == "News" %>
      <%=raw RefinerySetting.find_or_set(:twitter_feed_js, "") %>
    <%- end %>
    <%=raw @page.content_for(:body) %>
  </div>
  <div id="sidebar" class="grid_4 pull_8">
  <%# This is a bit of a hack: we need to simulate tech papers and links being part of the library %> 
  <%- if (@page.friendly_id_status.name =~ /links/) == 0 %>
    <%= render(:partial => "../../vendor/engines/libraries/app/views/libraries/list")%>
  <%- else %><%# Otherwise, render the side content as usual %>
    <%=raw @page.content_for(:sidebar) %>
  <%- end %>
  </div>
</div>
